body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 24px;
    z-index: 1000;
  }
  
  .back-to-top:hover {
    background-color: #555;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  
  body:after {
    content: "";
    display: block;
  }
  

  body::-webkit-scrollbar {
    display: none;
  }
  
  @media (min-height: 400px) {
    .back-to-top {
      display: block;
    }
  }
  
